.app-layout{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(9, calc(100vh / 9));
}
.loading{
    z-index: 20;
    grid-area: 1 / 1 / 10 / 13;
   
}
.panel-container{
    background-color: var(--color-gr-2);
    border-radius: 8px;
}
.panel-assets-container{
    grid-area: 2/1/9/4;
    margin:0 12px;
    padding: 12px;
    z-index: 10;
}
.design-tools-bar{
    grid-area: 2 / 10 / 9 / 12;
    place-self: center;

    height: fit-content;
    padding: 12px;
    z-index: 10;
    background-color: var(--color-white);
    border-radius: 4px;
}

.canvas-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 10 / 13;
    place-self: center;
    z-index: 0;
  }
  
  .canva-panel {
    position: relative;
    overflow: hidden;
  }


  .form-container{
    display: none;
    grid-area: 2/3/9/10;
    place-self: center;
    background-color: var(--color-white);
    overflow: hidden;
    padding: 16px;
    border-radius: 8px;
    overflow-x: hidden;
    padding-right: 12px;

  }

  @media screen and (max-width: 1024px) {
    .panel-assets-container{
        display: none;
    }
    .design-tools-bar{
        grid-area: 8/1/10/end;
    }
}


@media screen and (max-width: 768px) {
    .panel-assets-container{
        display: none;
    }
    .canva-panel{
                grid-area: 1 / 1 / 9 / 12;
        place-self: center;
        z-index: 0;
    }
}